/* Sencha Touch 2 Demo Video Tutorial */
/* 24.01.2012 ST2-PR4                 */

// Variables

$blue: #3bbfce;
$margin: 16px;

.example1 {
    border-color: $blue;
}

.example2 {
    margin: $margin;
    color: $blue;
}

// Math

$one: 8px;
$two: 16px;
$three: 3;

.example1a {
    border: 1px solid $one / 2; // 4px;
}

.example2a {
    margin: $two * $three; //48px
}

// Color

.example1b {
    color:darken(yellow, 10);
    background:lighten(blue, 30);
    border-color:saturate(#aa0000, 10);
}

.example2b {
    background:mix(yellow, red);
}

// Mixins

@mixin add-stuff($color) {
    color:$color;
    background-color:#000;

    .child {
        padding:5px;
    }
}

.example1c {
    @include add-stuff(blue);
}

// Compass

@import 'compass';

.example1d {
    @include border-radius(5px);
}

/*
NEQ - Healtcare MobileClient - CSS Design - Tablet
@Andreas chopsuey
*/

$body-bg-color: #000;
 
$base-color: #333;
$base-gradient: 'matte';
$active-color: #B2DF1E;
 
$tabs-dark: $base-color;
$tabs-light: #555;
 
$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';
$tabs-bar-gradient: 'matte';
$tabs-bottom-active-gradient: 'recessed';
 
$toolbar-gradient: 'glossy';
 
@import 'sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet; 
@include sencha-picker;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-sheet;
 
.x-toolbar .x-toolbar-title {
    color: saturate(lighten($active-color, 10%), 20%);
    text-shadow: rgba(#fff, .8) 0 1px 20px;
}
 
.x-tab-active img {
    background: white none !important;
}
 
.x-tabbar.x-docked-bottom .x-tab {
    &.x-tab-active {
        -webkit-box-shadow: inset rgba(#000, .8) 0 0 5px !important;
    }
}

.x-button-rpc{
    border-radius: 5px;
    border:1px solid #c4c4c4 !important;
    background-color: White !important;
}

.x-button-rpc-spacer{
    display: inline-block;
    width: 5px;
}