/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 189 of D:/Dev/xampp/htdocs/neq_MobileClient/neq_MobileClient/theme/scss/neq_MobileClient_Light.scss

Backtrace:
D:/Dev/xampp/htdocs/neq_MobileClient/neq_MobileClient/theme/scss/neq_MobileClient_Light.scss:189
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:1013:in `expected'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:960:in `expected'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:955:in `tok!'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:463:in `block'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:456:in `ruleset'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:480:in `block_child'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:473:in `block_contents'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:58:in `stylesheet'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/scss/parser.rb:27:in `parse'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/engine.rb:326:in `_to_tree'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/engine.rb:299:in `_render'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_common/sass-3.1.16/lib/sass/../sass/engine.rb:246:in `render'
src/compass_patch.rb:139:in `compile'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
src/compass_patch.rb:138:in `compile'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/logger.rb:45:in `red'
src/compass_patch.rb:137:in `compile'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
src/compass_patch.rb:23:in `perform'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
C:/Users/GSane/Downloads/compass.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:407:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 189 of D:/Dev/xampp/htdocs/neq_MobileClient/neq_MobileClient/theme/scss/neq_MobileClient_Light.scss"; }
