/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Dev\/xampp\/htdocs\/neq_MobileClient\/neq_MobileClient\/theme\/scss\/neq_MobileClient_Light\.scss}line{font-family:\0000324}}
#x-hidePatientListButton {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  background-image: -moz-linear-gradient(left, #ebebeb 26%, #d6d6d6 63%, #bfbfbf 95%);
  background-image: -webkit-linear-gradient(left, #ebebeb 26%, #d6d6d6 63%, #bfbfbf 95%);
}

/* ------------------------------ */
/* ------------------------------ */
